p{
    line-height: 1.5;
  }
  
  .text-align-justify{
     text-align:justify;
  }
  
  .text-align-left{
    text-align: left;
  }

  div{
    color: #0d0f36;
  }
ion-content {
  --background: #EDF2FA;

}

