<ion-header>
  <ion-toolbar>
    
    <ion-title size="large" slot="start">viaje</ion-title>
  
  <ion-buttons slot="end" class="boton" color="primary">
      <ion-icon name="refresh-outline" (click)="BuscarViaje()" class="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">

  <div *ngIf="!Viaje" style="margin-top: 50px;">
    <form #miformulario="ngForm" (ngSubmit)="onSubmit()">
      <ion-item lines="full">
        <ion-input labelPlacement="floating" label="Desde" type="text" name="nombre" [(ngModel)]="viaje.Desde" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input labelPlacement="floating" label="Hasta" type="text" name="apellido" [(ngModel)]="viaje.Hasta" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input labelPlacement="floating" label="Asientos" type="number" name="asiento" [(ngModel)]="viaje.Asientos" required></ion-input>
      </ion-item>

      <ion-item lines="full">
        <ion-input labelPlacement="floating" label="Valor" type="number" name="valor" [(ngModel)]="viaje.Valor" required></ion-input>
      </ion-item>

      <ion-button  class="ion-padding" type="submit" expand="block" [disabled]="!miformulario.valid">Crear</ion-button>
    </form>
  </div>

  <div *ngIf="Viaje">
    <ion-item lines="none" class="type">
      <ion-icon size="large" name="car-outline" color="#0d0f36"></ion-icon>
      <ion-label>
        <p>
          <ion-text>
           ( Asientos disponibles:  {{ viaje.Asientos}} )
          </ion-text>
        </p>
      </ion-label>
    </ion-item>

    <ion-row class="ion-padding">
      <ion-col size="6">
        <ion-item lines="full">
          <ion-icon slot="start" name="arrow-forward-outline" color="#0d0f36"></ion-icon>
          <ion-label>{{ viaje.Desde }}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="full">
          <ion-icon slot="start" name="arrow-down-outline" color="#0d0f36"></ion-icon>
          <ion-label>{{ viaje.Hasta }}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-list *ngFor="let items of Pasajeros">
      <ion-item lines="full" >
      <ion-icon slot="start" name="person" color="#0d0f36"></ion-icon>
      <ion-label>{{items}}</ion-label>
    </ion-item>
    </ion-list>
    
    

    
    <div *ngIf="Recorrido" class="ion-padding">

      <ion-item>
      <ion-progress-bar class="bar" color="primary" value="0.1" buffer="0.1" ></ion-progress-bar>
      </ion-item>

      <ion-button expand="block" class="boton" (click)="CancelarViaje()">Terminar Viaje</ion-button>

    </div>

    <div *ngIf="!Recorrido">

      <ion-row class="ion-padding">
        <ion-col size="12">
          <ion-button expand="block" class="boton" (click)="IniciarViaje()">Iniciar Viaje</ion-button>
        </ion-col>
        <ion-col size="12">
        <ion-button expand="block" class="boton" color="danger" (click)="CancelarViaje()">Cancelar Viaje</ion-button>
        </ion-col>
      </ion-row>

    </div>

  </div>



</ion-content>
