ion-content {
    --background: #EDF2FA;

  }

ion-item{
    --background: #f1f6ce;
    border-radius: 10px;
    margin-bottom: 16px;
    color: #0d0f36;
    
}

ion-button {
    --background: #69d2cd;
    color: #0d0f36;
    margin-bottom: 16px;
}

div{
    margin-top: 100px;

}  