<app-encabezado titulo="Registro"></app-encabezado>

<ion-content class="ion-padding">
  <form #miformulario="ngForm" (ngSubmit)="onSubmit()">

    <ion-item lines="full">
      <ion-input type="text" required label="Nombre" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="text" label="Apellido" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="date" required label="Fecha de Nacimiento" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="email" required label="Correo" labelPlacement="floating"></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-input type="password" required label="Contraseña" labelPlacement="floating"></ion-input>
    </ion-item>
  
    <ion-item lines="full">
      <ion-input type="password" required label="Repetir Contraseña" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-toggle>Auto</ion-toggle><br /><br />
    </ion-item>

    <ion-item lines="full">
      <ion-input type="text" required label="Matricula" labelPlacement="floating"></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-input type="number" required label="Asientos Disponibles" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full" class="ion-padding">
      <ion-checkbox labelPlacement="end">Estoy de acuerdo con los terminos y condiciones</ion-checkbox>
      
    </ion-item>
    
    <ion-button class="ion-padding" type="submit" expand="full" color="tertiary">
      Registrarse
    </ion-button>

  </form>
</ion-content>