<app-encabezado titulo="Registro"></app-encabezado>

<ion-content class="ion-padding">
  <form #miformulario="ngForm" (ngSubmit)="onSubmit()">

    <ion-item lines="full">
      <ion-input type="text" required label="Nombre" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="text" label="Apellido" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="date" required label="Fecha de Nacimiento" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="email" required label="Correo" labelPlacement="floating"></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-input type="password" required label="Contraseña" labelPlacement="floating"></ion-input>
    </ion-item>
  
    <ion-item lines="full">
      <ion-input type="password" required label="Repetir Contraseña" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full">
    <ion-label>Tipo de auto</ion-label>
      <ion-select slot="end" value="Microurbano" multiple="false" placeholder="Select Microurbano">
        <ion-select-option value="Microurbano">Microurbano</ion-select-option>
        <ion-select-option value="Todoterreno">Todoterreno</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item lines="full">
      <ion-input type="text" required label="Matricula" labelPlacement="floating"></ion-input>
    </ion-item>
    
    <ion-item lines="full">
      <ion-input type="number" required label="Asientos Disponibles" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item lines="full" class="ion-padding">
      <ion-checkbox required slot="start"></ion-checkbox>
      <ion-label>Estoy de acuerdo con los terminos y condiciones</ion-label>
    </ion-item>
    
    <ion-button class="ion-padding" type="submit" expand="full" color="tertiary">
      Registrarse
    </ion-button>

  </form>
</ion-content>