

<ion-content class="ion-padding">

  <ion-header collapse="condense">
  <ion-toolbar>
    
    <ion-title size="large" slot="start">Explorar</ion-title>
  
  <ion-buttons slot="end" class="boton" color="primary">
      <ion-icon name="refresh-outline" (click)="obtenerViaje()" class="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <div *ngIf="mostrar" class="ion-padding" (click)="onClick()">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{Desde}} {{" a "}} {{Hasta}}</ion-card-title>
        <ion-card-subtitle>Ingresar al viaje..</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
  
  <div *ngIf="!mostrar" class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sin Viajes Disponibles</ion-card-title>
        <ion-card-subtitle>por el momento</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

</ion-content>
