
  <ion-header>
  <ion-toolbar>
    
    <ion-title size="large" slot="start">Explorar</ion-title>
  
  <ion-buttons slot="end" class="boton" color="primary">
      <ion-icon name="refresh-outline" (click)="obtenerViaje()" class="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>

<div class="ion-padding">
  <div class="ion-padding" class="perro">
  <div *ngIf="mostrar" >
    <ion-list *ngFor="let item of Datos">
      <ion-card button="true" [routerLink]="['/detalle-viaje']" (click)="mostrarviajecito(item)" [ngClass]="{'disabled': viajeConfirmado}">
        <ion-card-header>
          <ion-card-title>{{item.Desde}} {{" a "}} {{item.Hasta}}</ion-card-title>
          <ion-card-subtitle>Ingresar al viaje.. </ion-card-subtitle>
          
        </ion-card-header>
      </ion-card>
    </ion-list>
    
  </div>
  
  <div *ngIf="!mostrar">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Sin Viajes Disponibles</ion-card-title>
        <ion-card-subtitle>por el momento</ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>
</div>
</div>




</ion-content>
