<ion-header>
  <ion-toolbar>
    <ion-title>
      Fastic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form" class="ion-padding" >
  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="onClick('registerbase')" expand="block" color="primary">Register</ion-button>
        <span class="divider line one-line">or</span>
        <span class="already">Already a user?</span>
        <ion-button (click)="onClick('login')" expand="block" color="danger">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
