<ion-header>
  <ion-toolbar style="background-color: #f1f6ce;">
    <ion-title>
      Fastic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/redcar.jpg" alt="">
  <div class="auth-form" class="ion-padding">
  <ion-grid>
    <ion-row >
      <ion-col align-self-center >
        <ion-button (click)="onClick('registerbase')" expand="block" color="dark">Registrar</ion-button>
        <span class="divider line one-line">o</span>
        <span class="already">¿Ya tienes una cuenta?</span>
        <ion-button  (click)="onClick('login')" expand="block" color="warning">Iniciar sesión</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
</ion-content>

