
.divider {
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.line {
  align-items: center;
  margin: 1em -1em;
  color: #294380;
  
  &:before,
  &:after {
    height: 1px;
    margin: 0 1em;
  }
} 

.one-line {
  &:before,
  &:after {
     background: #cccccc;
  }
}

.auth-form ion-grid,
.auth-form ion-row {
  height: 100%;
  justify-content: center;
}

.already {
  display: block;
  text-align: center;
  padding-bottom: 10px;
  color: #294380;
}

.naca {
  margin-bottom: 200%;

  }

ion-content {
  --background: #ffffff;

}

ion-toolbar {
  --background: #0d0f36;


  --color: #ffffff;
  --min-height: 56px;
  --opacity: 1;
  --padding-bottom: 4px;
  --padding-end: 4px;
  --padding-start: 4px;
  --padding-top: 4px;
}
