<app-encabezado titulo="Registrar"></app-encabezado>

<ion-content class="ion-padding">
  <div class="center">
      <ion-button (click)="onClick('registerdriver')" expand="block" fill="solid" shape="round" size="large">
    <ion-icon name="car-outline"></ion-icon>
    Conductor
  </ion-button>
  <ion-button (click)="onClick('registeruser')" expand="block" fill="solid" shape="round" size="large">
    <ion-icon name="person-outline" size="large"></ion-icon>
    Cliente
  </ion-button>
  </div>

</ion-content>

