<ion-content>
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <div class="ion-padding">

    <div class="viajes">
      <h1 class="animate__animated animate__bounce" >Bienvenido {{Fullname}} </h1>

    </div>

    <div class="dos" >
      <div class="viajes" *ngIf="!viajeActual">
        <img alt="" src="assets/img/redcar2.jpg" />
      </div>
    </div>

    <ion-card *ngIf="viajeActual">
      <img alt="" src="assets/img/redcar2.jpg" />
      <ion-card-header>
        <ion-card-title>Seguimiento del viaje</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Origen: {{viajeActual.Desde}}</p>
        <p>Destino: {{viajeActual.Hasta}}</p>
        <p>Valor: {{viajeActual.Valor}}</p>
        <ion-button (click)="onClick()" expand="block" fill="clear" shape="round">
          Terminar viaje
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>