<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio-cliente">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="actividad">
      <ion-icon name="file-tray-full-outline"></ion-icon>
      Actividad
    </ion-tab-button>
    <ion-tab-button tab="notificaciones">
      <ion-icon name="notifications-outline"></ion-icon>
      Notificaciones
    </ion-tab-button>
    <ion-tab-button tab="perfilcliente">
      <ion-icon name="person-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
